<% include ../include/header.ejs%>
<div class="container">
    <form action="/articles/add" method="post"  role="form" class="form-horizontal" enctype="multipart/form-data">
        <input type="hidden" value="<%=article._id%>" name="_id"/>
        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">标题</label>
            <div class="col-sm-10">
                <input type="text" value="<%=article.title%>" class="form-control" id="title" name="title" placeholder="标题"/>
            </div>
        </div>
        <div class="form-group">
            <label for="content" class="col-sm-2 control-label">正文</label>
            <div class="col-sm-10">
                <textarea class="form-control"   id="" cols="30" rows="10" id="content" name="content" placeholder="请输入内容" ><%=article.content%></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="img" class="col-sm-2 control-label">图片</label>
            <div class="col-sm-10">
                <%
                    if(article.img){
                        %>
                             <img src="<%=article.img%>" style="width:100px;height:100px" alt=""/>
                        <%
                    }
                 %>
                <input type="file" class="form-control"  name="img" id="img"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">提交</button>
                <button type="reset" class="btn btn-default">重置</button>
            </div>
        </div>

    </form>
</div>
<% include ../include/footer.ejs%>